/* style the main body of the document */
body {
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(8, 63, 166);
}
.container {
  background-image: url(90s-website-style.png);
  background-repeat: no-repeat;
  width: 1310px;
  border: 2px double white;
  margin-left: 4.7%;
}
p::first-letter {
  float: left;
  line-height: 75%;
  font-size: 65px;
  font-weight: bold;
  padding-top: 4px;
}
.center {
  margin: auto;
  width: 50%
}
.right {
  margin-right: 13%;
  float: right;
  width: 50%;
}
.dolla {
  position: absolute;
  right: 15%;
  top: 255px;
  font-family: ff-meta-web-pro, sans-serif;
  font-size: 120pt;
  font-weight: 900;
  font-style: normal;
  color: #98f054;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}
.left {
  margin-left: 13%;
  width: 50%;
}
.one {
  font-size: 20px;
  text-align: left;
  color: white;
}
.two {
  font-size: 20px;
  text-align: left;
  color: #98f054;
}
.three {
  font-size: 20px;
  text-align: left;
  color: white;
}
.bottom {
  font-size: 30px;
  margin-left: 25%;
  margin-right: 20%;
  width: 50%;
  clear: both;
  text-align: center;
  color: #fffc41;
  border: 2px solid white;
}
/* style the headings */
h1 {
  font-size: 100px;
  letter-spacing: 5px;
  align-items: center;
  text-align: center;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  height: 75px;
  top: -20px;
}
h1 span {
  background: linear-gradient(to right,
  #f62a26,
  #fa6798,
  #9862f6,
  #2196f3,
  #98f054,
  #fffc41,
  #faa010,
  #f62a26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
    display: flex;
    justify-content: center;
    color: #fffc41;
}
.wavy
{
  position: relative;
}
.wavy span
{
  letter-spacing: 6px;
  position: relative;
  display: inline-block;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
  0%
  {
    transform: translateY(0px);
  }
  20%
  {
    transform: translateY(-20px);
  }
  40%,100%
  {
    transform: translateY(0px);
  }
}